
.containerStock li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blanco);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.3rem;
    gap: 1.4rem;
}
.containerStock .empty{
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    font-size: 1.3rem;
}
.containerStock li:hover{
    box-shadow: inset 0 0 0 0.1rem var(--color_quarter);
}
.containerStock li .imgProd{
    display: inline-block;
    width: 10rem;
    flex-shrink: 0;
}
.containerStock li .imgProd img{
    display: block;
    width: 100%;
}
.containerStock li .description .colors{
    margin: 0.3rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.containerStock li .description .colors span{
    box-shadow: 0 0 0.1rem var(--color_third);
    line-height: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.containerStock li .description .colors p{
    font-weight: 500;
}
.containerStock li .description .proveedor{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.containerStock li .description .proveedor p:first-child{
    font-weight: 500;
}
.containerStock li svg{
    height: 1rem;
}
.containerStock li .contTallas .tallas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0.4rem;
    gap: 1rem;
}
.containerStock li .contTallas .tallas div{    
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    overflow: hidden;
}
.containerStock li .contTallas .soldOut{
    color: var(--blanco);
    text-decoration: line-through;
    font-weight: 500;
    background-color: var(--red);
    
    padding: 0.4rem 0.8rem;
}
.containerStock li .contTallas .inStock{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--color_primary);
    background-color: var(--color_sixth);
    box-shadow: inset 0 0 0 0.1rem var(--success);
    font-weight: 500;
}
.containerStock li .contTallas .tallas .inStock span{
    text-align: center;
    color: var(--blanco);
    height: 100%;
    background-color: var(--green);
}
.containerStock li .contTallas .tallas .inStock p,
.containerStock li .contTallas .tallas .inStock span{ 
    padding: 0.4rem 0.6rem;
}